nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #21222A;
  padding: 30px 25px;
}

.logo-section {
  display: flex;
  color: #61DAFB;
}

.logo-section > h3 {
  font-size: 22px;
}

.logo {
  width: 60px;
}

nav > h4 {
  font-weight: 600;
  color: #DEEBF8;
}

main {
  padding: 57px 27px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./react-icon-large.png');
  background-repeat: no-repeat;
  background-position: 100% 75%;
}

main > h1 {
  margin: 0 0 0 -60px;
  font-size: 40px;
  letter-spacing: -0.05em;
}
 .list {
  margin-top: 46px;
}

.list > li {
  padding-block: 10px;
}

.list > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}
