.App {
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 25px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

nav.dark {
  background-color: #21222A;
}

.nav--logo_icon {
    width: 30px;
    margin-right: 10px;
}

.nav--logo_text {
    color: #61DAFB;
    margin-right: auto;
}

.nav--title {
    color: #DEEBF8;
}

.toggler {
    display: flex;
    align-items: center;
}

.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}

.toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}

nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

.toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}

nav.dark .toggler--slider--circle {
    background-color: black;
}

.toggler--light {
    color: #2B283A;
}

nav.dark .toggler--light {
    color: #918E9B;
}

.toggler--dark {
    color: #D5D4D8;
}

nav.dark .toggler-dark {
    color: #FFFFFF;
}

nav.dark .toggler--slider {
    justify-content: flex-end;
}

.logo-section {
  display: flex;
  color: #61DAFB;
}

.logo-section > h3 {
  font-size: 22px;
}

.logo {
  width: 60px;
}

main {
  padding: 57px 27px;
  height: 100%;

  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/react-icon-light.png');
  background-repeat: no-repeat;
  background-position: 100% 15%;
  color: #2B283A;
}

main.dark {
  background-image: url("./images/react-icon-dark.png"); 
  background-color: #282D35;
  color: white;    
}

main > h1 {
  margin: 0 0 0 -60px;
  font-size: 40px;
  letter-spacing: -0.05em;
}
 .list {
  margin-top: 46px;
}

.list > li {
  padding-block: 10px;
}

.list > li::marker {
  font-size: 1.4rem;
  color: #61DAFB;
}
