nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #21222A;
  padding: 30px 25px;
}

.logo-section {
  display: flex;
  color: #61DAFB;
}

.logo-section > h3 {
  font-size: 22px;
}

.logo {
  width: 60px;
}

nav > h4 {
  font-weight: 600;
  color: #DEEBF8;
}
